@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/bungee";

:root {
  --bg: #0f172a;
  --card: #0b1220;
}

body {
  @apply bg-gray-50 text-gray-800 antialiased;
}

.loader-spin {
  border-top-color: transparent;
  animation: spin 1s linear infinite;
  border-radius: 9999px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
